.login[data-v-39a8d618]{font-size:12px}.titulo[data-v-39a8d618]{font-weight:700;font-size:18px;text-align:center;color:#253049}.form .name[data-v-39a8d618]{color:#8d8787;font-weight:medium}.login[data-v-39a8d618]{width:60%;color:#9d8787}