.login[data-v-1d91db64]{font-size:12px}.titulo[data-v-1d91db64]{font-weight:700;font-size:18px;text-align:center;color:#253049}.form .name[data-v-1d91db64]{color:#8d8787;font-weight:medium}.login[data-v-1d91db64]{padding:0px 20%;color:#9d8787}