.login[data-v-6698da4f]{font-size:12px}.titulo[data-v-6698da4f]{font-weight:700;font-size:18px;text-align:center;color:#253049}.form .name[data-v-6698da4f]{color:#8d8787;font-weight:medium}.login[data-v-6698da4f]{padding:0px 20%;color:#9d8787}